
/* ***Bootstrap Styling Modifications and Additions */

/* GENERAL BUTTONS */

.btn {
  /*background-color: #c1c1c1;*/
  border-radius: 0px;
}
.btn:active {background-color: #474747;}
.btn:focus, .btn:active {

  /* Eliminates the default blue outline when the button is clicked. */
  outline: none !important;
}

.btn-submit {
  align: center;
}

/* CUSTOM BUTTONS */
/* This block handles the general SELECTOR buttons*/

.btn-select {
  border: solid 1px #000;

  -moz-background-image: -moz-linear-gradient(top left, #c9c9c9 0%, #6f6f6f 100%);
  -webkit-background-image: -webkit-linear-gradient(top left, #c9c9c9 0%, #6f6f6f 100%);
  background-image: linear-gradient(to bottom right, #c9c9c9 0%, #6f6f6f 100%);
  background-image-slice: 1;
}
.btn-select:hover { margin-right: 3px; margin-bottom: 5px; box-shadow: 3px 5px 16px 0 #404040; transition: all 0.25s ease 0s;}
.btn-select:active { box-shadow: 0px 0px 0px 0px; margin-right: 0px; margin-bottom: 0px; transition: all 0.05s ease 0s;}

/* This block handles the IMAGE BUTTONS */

.btn-image {
  border: solid 1px #A9A9A9;
  background-color: #A9A9A9;
}
.btn-image:active {
  background-color: #A9A9A9;
  /* Eliminates the appearance of pressing the button object that surrounds
  the image to which that appearance has been deferred.*/
  box-shadow: 0px 0px 0px 0px;
}
.btn-image:active > img {
  box-shadow: 0px 0px 0px 0px;
  margin-left: 0px;
  margin-top: 0px;
  transition: all 0.05s ease 0s;
}

.btn-image:hover > img {
    transition: all 0.30s ease 0s;
    width: 82.5%;
}

.jumbotron {
  background-color: #A9A9A9;
  color: #000;
  
  text-align: center;
  
  margin: 10px;
  margin-bottom: 24px;
  padding: 30px;

  box-shadow: 4px 6px 18px 0px #000;
  outline: solid #000 1px;
  border-radius: 0px;
  border: solid 21px #818182;

  /* The following block adds a gradient to the borders*/
  -moz-border-image: -moz-linear-gradient(top left, #A9A8A8 0%, #323232 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #A9A8A8 0%, #323232 100%);
  border-image: linear-gradient(to bottom right, #A9A8A8 0%, #323232 100%);
  border-image-slice: 1;
  
}

.row {
  margin: 14px;
}

/* ***HTML Tags*** */

body {
  background-color: #3E3E3E;
  font-family: baskerville;
}

h2 {
  padding-bottom: 6px;
}

img {

  padding: 10px;
  margin-right: 3px; margin-bottom: 5px;
  width: 75%;


  align-content: center;
  align-items: center;
  border: solid #303030 5px;
  /*margin: 3px;*/
  /*border-radius: 30px;*/
  box-shadow: 3px 5px 16px 0px #404040;

  /*background-color: #c1c1c1;*/
  -moz-background-image: -moz-linear-gradient(top left, #c1c1c1 0%, #6f6f6f 100%);
  -webkit-background-image: -webkit-linear-gradient(top left, #c1c1c1 0%, #6f6f6f 100%);
  background-image: linear-gradient(to bottom right, #c1c1c1 0%, #6f6f6f 100%);
  background-image-slice: 1;
}

/* ***Relevant IDs*** */

#results {
  display: none;
}

#results-denmark {
  display: none;
}

#results-hawaii {
  display: none;
}

#results-india {
  display: none;
}

#results-japan {
  display: none;
}

#results-canada {
  display: none;
}

#danish-castle {
  float: right;
}

#hawaiian-sunset {
  float: right;
}